// path dir of singularity
dir_singularity = '/home/rademe/git/'

process {
	withLabel: bcftools {
		cpus = 2
		memory = 3.GB
		container = "$dir_singularity/Samtools/1.9/samtools-1.9.simg"
	}
	withLabel: rtg_tools {
		cpus = 2
		memory = 3.GB
		container = "$dir_singularity/rtg-tools/rtgtools-3.9.1.simg"
	}
}
